{% extends "_layout.twig" %}

{% block main %}
	<p>{% trans %}I'm providing RIPE NCC LIR services with Kirino LLC. If you have requirements about AS numbers, IPv6 addresses, feel free to contact me at <code>orz.soha@gmail.com</code>.{% endtrans %}</p>

	<h3>{{ 'What is provided?'|trans }}</h3>
	<ul>
		<li>{% trans %}Autonomous number (ASN) registered at RIPE NCC{% endtrans %}</li>
		<li>{% trans %}IPv6 addresses/prefixes allocated at RIPE NCC{% endtrans %}</li>
	</ul>

	<h3>{{ 'How much is it?'|trans }}</h3>
	<ul>
		<li>{% trans %}Autonomous number (ASN) is 100 EUR for the first year, and will be charged 80 EUR in the following years by the end of the year (September to November). A free /44 IPv6 subnet is bundled with the ASN.{% endtrans %}</li>
		<li>
			<span>{% trans %}IPv6 prefix is charged yearly:{% endtrans %}</span>
			<ul>
				<li>{% trans %}/48 -> 5 USD per year{% endtrans %}</li>
				<li>{% trans %}/44 -> 30 USD per year{% endtrans %}</li>
				<li>{% trans %}For larger address spaces, please contact me for more information.{% endtrans %}</li>
			</ul>
		</li>
	</ul>
	<p>{% trans %}You can pay by PayPal, Alipay, WeChat Pay.{% endtrans %}</p>
{% endblock %}
