{% extends "_layout.twig" %}

{% block main %}
	<p i18n>I'm providing RIPE NCC LIR services with Kirino LLC. If you have requirements about AS numbers, IPv6 addresses, feel free to contact me at <code>orz.soha@gmail.com</code>.</p>

	<h3 i18n>What is provided?</h3>
	<ul>
		<li i18n>Autonomous number (ASN) registered at RIPE NCC</li>
		<li i18n>IPv6 addresses/prefixes allocated at RIPE NCC</li>
	</ul>

	<h3 i18n>How much is it?</h3>
	<ul>
		<li i18n>Autonomous number (ASN) is 75 USD one-time, no further fee will be charged. A free /48 IPv6 subnet is bundled with the ASN.</li>
		<li>
			<span i18n>IPv6 prefix is charged yearly:</span>
			<ul>
				<li i18n>/48 -> 5 USD per year</li>
				<li i18n>/44 -> 30 USD per year</li>
				<li i18n>For larger address spaces, please contact me for more information.</li>
			</ul>
		</li>
	</ul>
	<p i18n>You can pay by PayPal, Alipay, WeChat Pay.</p>
{% endblock %}
